# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

ressources/output/
ressources/www/intervenants/
ressources/www/unites/
ressources/www/parcours/

ressources/www/index.html
ressources/www/intervenants.html
ressources/www/unites.html





