.article {
  width: 512px;
  border: 1px solid #d8dadd;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  grid-column: 2;
  margin-bottom: 5px;
}

body {
  background-color: #e9ebee;
  display: grid;
  grid-template-columns: 30vw 52vw 16vw;
}

h1, h2, h3{
  margin-top: 5px;
  margin-bottom: 5px;
}

.box {

  border-top: 1px solid #d8dadd;
}

.logo {
  float: left;
  width: 19px;
  height: 19px;
  padding-right: 5px;
}

.head {
  width: 40px;
  height: 40px;
  padding-right: 5px;
  vertical-align: middle;
  border-radius: 50%
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
  color: black;
}

#searchMenu {
    background-image: url('search.png');
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#menu-list {
  overflow: hidden;
  height: 100vh;
  grid-column: 3;
  border-left: 1px solid #ccc;
}

#menu-list ul {
  overflow-y: auto;
  height: 88vh;
  width: 100%;
  padding-right: 25px;
  padding-left: 5px;
}

#menu-list li {
  padding-bottom: 5px;
}

#menu-list li:hover {
  background-color: #d3d5d7;
}

#menu-list #title {
  padding: 8px 0 8px 8px;
}

#menu-list a {
  text-decoration: none;
  color: #333;
}